<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> </!-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="app.css">
        <meta charset="utf-8">
        <title>Javascript Tester</title>    
    </head>
    <body ng-app='javascript' ng-controller='mainCtrl' class="container-fluid">
        <h1 class="text-center" style="color: green">Number of problems completed: {{currentIndex}} / {{problems.length}}</h1>
        <div ng-view class='instructions' name='instructions'>
            <h4>{{problems[currentIndex].question}}</h4>
        </div><br>
        <div class="input-group" style="width:90vw; margin:0 auto;">
        <form class='form-group' name='javascriptForm' ng-submit='runCode()' ng-show='moreQuestions'>
            <textarea class='form-control' rows='1' cols='100' disabled='disabled'>{{problems[currentIndex].header}}</textarea><br>
            <textarea 
                id='javascript' 
                class='form-control' 
                rows='10' 
                cols='100' 
                placeholder='Enter your Javascript Here' 
                ng-model='javascriptForm.javascript' 
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">
            </textarea><br>
            <textarea class='form-control' rows='1' cols='100' disabled='disabled'>{{problems[currentIndex].footer}}</textarea><br>
            <button class='btn btn-secondary button' type='submit'>Run</button>
            <button class='btn btn-primary button' ng-disabled='!canAdvance' ng-click='goToNextProblem()'>Next problem!</button>
        </form>
        </div>
        
        <div style="display: inline-block;" ng-repeat='test in problems[currentIndex].tests'><test test='test'/></div>
        <p ng-show='moreQuestions'><span style="color: red; font-weight: bold;">&#x2717;</span>'s turn to <span style="color: green; font-weight: bold;">&#x2713;</span>'s as you pass test cases</p>
    </body>
</html>
